<div class="subnavbar" ng-controller="menuCtrl">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li ng-class="{ active: isActive('/Views/index.html') }"><a href="index.html"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <li ng-class="{ active: isActive('/Views/reports.html') }"><a href="reports.html"><i class="icon-list-alt"></i><span>Reports</span> </a> </li>

            </ul>
        </div>
    </div>
</div>